streamlit==1.14.0
python-dotenv==0.21.0
PyPDF2==2.10.0
langchain==0.0.113
faiss-cpu==1.7.2
google-cloud==0.34.0
google-cloud-language==2.5.0
google-cloud-vision==3.0.3
google-generative-ai==0.0.1
langchain-community
